<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127467072-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127467072-1');
</script>


{% if site.safe and site.JB.analytics.provider and page.JB.analytics != false %}

{% case site.JB.analytics.provider %}
{% when "google" %}
  {% include JB/analytics-providers/google %}
{% when "getclicky" %}
  {% include JB/analytics-providers/getclicky %}
{% when "mixpanel" %}
  {% include JB/analytics-providers/mixpanel %}
{% when "custom" %}
  {% include custom/analytics %}
{% endcase %}

{% endif %}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127467072-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127467072-1');
</script>
